// main: main.sass
/* Coolors Exported Palette - coolors.co/000000-14213d-efc02e-e5e5e5-ffffff */

/* Colors */
$bg: lightgray;
$main: white;
$color3: hsla(45%, 86%, 56%, 1);
$color4: hsla(0%, 0%, 90%, 1);
$color5: hsla(0%, 0%, 100%, 1);

$backgroundcolor: white;