// main: main.sass
/* Coolors Exported Palette - coolors.co/000000-14213d-efc02e-e5e5e5-ffffff */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(221%, 51%, 16%, 1);
$color3: hsla(45%, 86%, 56%, 1);
$color4: hsla(0%, 0%, 90%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$dark: rgb(19, 19, 19);
$color2: rgb(0, 61, 192);
$color3: rgba(239, 192, 46, 1);
$color4: rgba(229, 229, 229, 1);
$color5: rgba(255, 255, 255, 1);

$backgroundcolor: white;