// main: main.sass

/* Worksection */

#workssection {
    margin-top: -70px;
 
    filter:
    drop-shadow( 0 10px 20px rgba(0,0,0,0.19) )
    drop-shadow( 0 6px 6px rgba(0,0,0,0.23) )
    ;
 
    #middlewrap {
       margin-top: -0px;
       padding: 2em;
       background-color: white;
    }
    @media only screen and (max-width: 400px) {
       #middlewrap {
          padding: 0 0.2em 0.2em 0.2em;
       }
    }
    @media only screen and (max-width: 600px) {
       #middlewrap {
          padding: 0 0.5em 0.5em 0.5em;
       }
    }
 
    p {
       margin-bottom: 0.5em;
    }
    li {
       margin: 0;
    }
 
    .category {
       margin-bottom: 4em;
 
       .titlewrap {
          margin-bottom: 0.5em;
          h1 {
             margin-bottom: 0em;
          }
       }

       // TITOLO CENTRATO MOBILE
       @media only screen and (max-width: 600px) {
         .titlewrap {
            text-align: center;
            margin-top: -1.5em;
            margin-bottom: 0.5em;
            h1 {
               margin-bottom: 0em;
            }
         }
       }
 
       .projects {
          padding: 0;
          transform: translateX(0);
       }
    }
 }
 
 .project {
    cursor: pointer;
    background-color: gold;
    ::selection { background-color: ligthgray; }
    margin: 0 0 0.5em 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: all 0.7s cubic-bezier(.25,.8,.25,1);

    [page="1"] {
       min-height: 100%;
      background-color: gold;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        z-index: 10;
        filter:
        drop-shadow( 0 6px 6px rgba(0,0,0,0.23) )
        ;
     }

    [page]:not([page="1"]) {
       color: black;
       background-color: white;
    }
 
    [page] {
      // FIX FOR ANDROID CHROME
       @supports (-webkit-appearance:none) {
          .os-android & {
            height: calc(100vh - 200px);
          }
        }
 
       .title {
          padding: 10px;

          display: flex;
          flex-direction: column;

          h3 {
             font-weight: 900;
             font-size: 3em;
             text-align: left;
             margin: 0;
             span {
                font-size: 0.7em;
             }
          }
          .tags {
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             width: 100%;
       
             .tag {
                float: left;
                font-size: 0.9em;
                background-color: gray;
                color: white;
                border-radius: 1em;
                margin-right: 0.5em;
                margin-bottom: 0.5em;
                padding: 0.2em 0.5em;
             }
          }
       }
       * {
          transition:
          min-height 0.7s cubic-bezier(.25,.8,.25,1),
          padding 0.7s cubic-bezier(.25,.8,.25,1),
          left 0.7s cubic-bezier(.25,.8,.25,1),
          ;
       }
       transition:
          min-height 0.7s cubic-bezier(.25,.8,.25,1),
          padding 0.7s cubic-bezier(.25,.8,.25,1),
          left 0.7s cubic-bezier(.25,.8,.25,1),
          ;
    }
   @media only screen and (max-width: 400px) {
      [page] {
         
      }
   }
   @media only screen and (max-width: 600px) {
      [page] {
         
      }
   }
    transition:
    width 0.7s cubic-bezier(.25,.8,.25,1),
    height 0.7s cubic-bezier(.25,.8,.25,1),
    top 0.7s cubic-bezier(.25,.8,.25,1),
    left 0.7s cubic-bezier(.25,.8,.25,1),
    background-color 0.7s cubic-bezier(.25,.8,.25,1),
    box-shadow 0.7s cubic-bezier(.25,.8,.25,1),
    ;
 }


.disabled {
    cursor: auto;
    filter: grayscale(1) !important;
    height: 95px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    padding: 0;
    .tags {
       display: none !important;
    }
    .title {
       font-size: 10px;
    }
    .title::after {
       content: "Work in progress...";
       font-size: 20px;
    }
 }

//  PROJECT THINGS

 .mockup {
   //  background-color: red;
    transform: 
    rotateX(-10deg)
    rotateY(-30deg)
    rotateZ(-10deg)
    ;
    
 }

 .designbrief {
    margin-left: -10px;
    border-left: 5px solid gold;
    font-size: 1.5em;
   //  text-align: center;
 }

 .projectintrotable {
    display: flex;
    flex-direction: row;
    * {
       flex-grow: 1;
    }
    li {
       list-style-type: none;
    }
 }